<%- include('header') %>
  <main id="main">

    <!-- ======= Blog Section ======= -->
    <section class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Blog</h2>

          <ol>
            <li><a href="index.html">Home</a></li>
            <li>Blog</li>
          </ol>
        </div>

      </div>
      <div class="container" style="height:50vh;"></div>
    </section><!-- End Blog Section -->
		
    

  </main><!-- End #main -->


 <%- include ("footer.ejs") %>