 <!-- ======= Footer ======= -->
  <footer id="footer" data-aos="fade-up" data-aos-easing="ease-in-out" data-aos-duration="500">

    <div class="footer-newsletter">
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <h4>Our Newsletter</h4>
            <p>If you would like to stay updated subscribe to our newsletter</p>
          </div>
          <div class="col-lg-6">
           <form  name= "subscriber" action="https://formspree.io/xgenpjqg" method="POST">
              <input type="email" name="email"><input type="submit" value="Subscribe">
            </form>
          </div>
        </div>
      </div>
    </div>

    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="/index.html">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="/about.html">About us</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="/services.html">Services</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="/team.html">Team</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="/">Blog</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Our Services</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="/services.html#crushing">Crushing</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="/services.html#baling">Baling</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="/services.html#circular-economy">Circular Economy</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="/services.html#clean-up">Clean-Up Outreach</a></li>
              
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-contact">
            <h4>Contact Us</h4>
            <p>
              1, Francis Demehin Cresent Off Honourable Jamiu Sulaimon Street, Awoyaya, Ibeju Lekki, Lagos State <br><br>
              <strong>Phone:</strong> +2348095779778<br>
              <strong>Email:</strong> info@hislrecyclers.com<br>
            </p>

          </div>

          <div class="col-lg-3 col-md-6 footer-info">
            
            <div class="social-links mt-3">
              <a href="https://twitter.com/hislrecyclers" class="twitter"><i class="bx bxl-twitter"></i></a>
              <a href="https://facebook.com/hislrecyclers" class="facebook"><i class="bx bxl-facebook"></i></a>
              <a href="https://instagram.com/hislrecyclers" class="instagram"><i class="bx bxl-instagram"></i></a>
             
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy;2020  <strong><span>HISLRecyclersTeam</span></strong>
        </div>
      
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

    <!-- Template Main JS File -->
  <script src="/assets/js/main.js"></script>

</body>

</html>